
h1 hidden rebel chat

ul.convo

form#chatForm(method="POST", action="/")
  input#name.name(name='chat[name]')
  input#content.message(name='chat[content]')
  input.submit(type="submit", value="Send")

#permission
  .request
    p You want ... notifications?
    a.yes(href="javascript:void(0);") Feel the power of this fully operational nodechatty!
    a.no(href="javascript:void(0);") I'll never join you!