!!!
html
  head
    title RAR
    link(rel='stylesheet', href='/stylesheets/screen.css')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/jquery-1.6.1.min.js')
    script(src='/scripts/client.js')
  body
    .chat
      #container!= body